(
    name: "Cpt. Steven Rogers",
    soldiers: [
        Soldier (
            address: "127.0.0.1:14114",
            seal: Seal (
                username: "root",
                password: "root"
            )
        ),
    ],
    commands: ["echo", "curl"]
)
