(
    name: "Cpt. Steven Rogers",
    devices: [
        Device (
            address: "127.0.0.1:14114",
            seal: Seal (
                username: "root",
                password: "root"
            )
        ),
    ],
    commands: [
        Command (
            name: "echo",
            args: [
                "Hello, world!"
            ]),
        Command (
            name: "curl",
            args: [
                "www.google.com"
            ])
    ],
)