(
    name: "S. Buck",
    addr: "127.0.0.1:14114",
    group: "root",
    user: "root",
    seal: (
       username: "root",
       password: "root",
    ),
    commands: [
        Command (
            id: "echo",
            name: "echo",
            args: [
                "Hello, world!"
            ]),
        Command (
            id: "curl",
            name: "curl",
            args: [
                "www.google.com"
            ])
    ]
)